<h1> Catalog </h1>
<p> List of products </p>
<ul>
    {{#each product}}
    <li><a href="/catalog/{{id}}">{{name}}</a></li> 
  <!-- <li><p href="/catalog/{{id}}">{{name}}</p></li>-->
    {{/each}}
</ul>